<div class="user-status">
    [% if user.eboard %]
    <span class="label label-primary">
        [% user.eboard | ucfirst %]</span>
    [% end %]
    <span class="label label-primary">
        [% user.on_floor ? 'On-Floor':'Off-Floor' %]</span>
    <span class="label label-primary footroom-5">
        [% user.active ? 'Active' : 'Alumni' %]</span>
    <br class="hidden-xs">
</div>
