[% PROCESS header.tt %]
[% FOREACH freshman = freshmen %]
<ul>
<li><a href="/freshmen/[% freshman.id | uri %]">[% freshman.name | html_entity %]</a></li>
<li>Vote date: [% freshman.vote_date | html_entity %]</li>
<li>Ten week: [% freshman.ten_week | html_entity %]</li>
<li>Result: [% freshman.result | html_entity %]</li>
</ul>
[% END %]
[% PROCESS footer.tt %]
