<li>[% project.name | html_entity %]</li>
<li>[% project.description | html_entity %]</li>
[% IF user %]
<li><a href="/users/[% user.uid %]">[% user.name | html_entity %]</a></li>
[% ELSE %]
<li><a href="/users/[% project.user.uid %]">[% project.user.name | html_entity %]</a></li>
[% END %]
<li>[% project.date | html_entity %]</li>
<li>[% project.comments | html_entity %]</li>
<li>[% project.committee | html_entity %]</li>
<li>[% project.status | html_entity %]</li>
