<ul>
  [% IF user.room %]
  <li>Lives in [% user.room | html_entity %]</li>
  [% END %]
  [% IF user.alumni %]
  <li>Alumni Member</li>
  [% END %]
  [% IF not user.room and user.on_floor %]
  <li>On-Floor Status</li>
  [% ELSE %]
  <li>Off-Floor Status</li>
  [% END %]
  <li>[% user.housing_points | html_entity %] Housing Points</li>
</ul>
