<ul>
<li>name: [% user.name | html_entity %]</li>
<li>room: [% user.room | html_entity %]</li>
<li>uid: [% user.uid | html_entity %]</li>
<li>active: [% user.active | html_entity %]</li>
<li>alumni: [% user.alumni | html%]</li>
<li>onFloor: [% user.on_floor | html_entity %]</li>
<li>housingPoints: [% user.housing_points | html_entity %]</li>
</ul>
