/***** CSS RESET *****/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/***** STYLE *****/

@font-face {
	font-family: Liberator;
	src: url(/fonts/liberator.ttf);
}
@font-face {
	font-family: Electrolize;
	font-style: normal;
	font-weight: 400;
	src: local('Electrolize'), local('Electrolize-Regular'), url(/fonts/electrolize.woff) format('woff');
}

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

input, textarea {
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	cursor: text;
}

a[href] { cursor: pointer; }

input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner {
	border: 0;
}

.clear { float: none !important; clear: both; }
.center { text-align: center; }
.separator {
	background: -webkit-linear-gradient(bottom, rgba(0, 180, 204, 0.05), rgba(0, 180, 204, 0.15) 8%, rgb(0, 180, 204) 50%, rgba(0, 180, 204, 0.15) 92%, rgba(0, 180, 204, 0.05));
	background: linear-gradient(to bottom, rgba(0, 180, 204, 0.05), rgba(0, 180, 204, 0.15) 8%, rgb(0, 180, 204) 50%, rgba(0, 180, 204, 0.15) 92%, rgba(0, 180, 204, 0.05));
}
.horizontal-separator {
	background: -webkit-linear-gradient(right, rgba(0, 180, 204, 0.05), rgba(0, 180, 204, 0.15) 8%, rgb(0, 180, 204) 50%, rgba(0, 180, 204, 0.15) 92%, rgba(0, 180, 204, 0.05));
	background: linear-gradient(to right, rgba(0, 180, 204, 0.05), rgba(0, 180, 204, 0.15) 8%, rgb(0, 180, 204) 50%, rgba(0, 180, 204, 0.15) 92%, rgba(0, 180, 204, 0.05));
}
.left { float: left; }
.right { float: right; }
.left, .right { width: 48%; }

img { border-radius: 50%; }
a[href] { outline: none; }
input { outline: none; }

body {
	background: url(/img/bg.png) #343838;
}

#container {
	margin: auto;
	margin-top: 40px;
	width: 940px;
}

#head {
	display: inline-block;
	font-family: Liberator;
}

#head div {
	float: left;
	padding: 5px 20px;
	height: 80px;
}

#head div span {
	text-align: center;
	display: block;
	color: #008C9E;
	font-size: 30px;
	text-shadow: 1px 1px 0px rgb(0, 95, 107), 3px 3px 0px rgba(0, 0, 0, 0.15);
	line-height: 43px;
}

#head div span em {
	font-size: 20px;
}

#head div span em.total {
	font-size: 35px;
	color: #00B4CC;
	text-shadow: 1px 1px 0px rgb(0, 140, 158), 3px 3px 0px rgba(0, 0, 0, 0.15);
}

#head div img {
	display: inline-block;
	margin-top: 10px;
	height: 60px;
	width: 60px;
	vertical-align: middle;
}

#head div span.name {
	display: inline-block;
	margin-left: 12px;
	max-width: 238px;
	vertical-align: middle;
	line-height: 32px;
	margin-top: 12px;
}

#head .separator {
	height: 90px;
	width: 1px;
	padding: 0;
}

#tail {
	margin: auto;
	font-family: Electrolize;
}

#tail #next-evaluation {
	color: #008C9E;
	font-size: 50px;
	text-shadow: 1px 1px 0px rgb(0, 95, 107), 3px 3px 0px rgba(0, 0, 0, 0.15);
	text-align: center;
	line-height: 70px;
	margin-top: 12px;
	font-family: Liberator;
}

#tail #next-evaluation em {
	font-size: 70px;
	color: #00B4CC;
	text-shadow: 1px 1px 0px rgb(0, 140, 158), 3px 3px 0px rgba(0, 0, 0, 0.15);
}

#tail #next-evaluation .text {
	display: inline-block;
	margin-left: 15px;
	vertical-align: middle;
}

#tail input#search {
	background-color: #2C2F2F;
	color: #EEE;
	border: none;
	border-radius: 20px;
	box-shadow: inset 0 0 2px 2px rgba(68, 72, 72, 0.2);
	font-size: 18px;
	float: right;
	padding: 5px 12px 3px;
	width: 150px;
}

#tail .horizontal-separator {
	height: 1px;
	width: 100%;
}

#tail h3 {
	color: #008C9E;
	font-family: Liberator;
	font-size: 30px;
	text-shadow: 1px 1px 0px rgb(0, 95, 107), 3px 3px 0px rgba(0, 0, 0, 0.15);
	text-align: center;
}

#tail nav {
	margin: auto;
	text-align: center;
}

#tail nav a {
	display: inline-block;
	padding: 5px 10px;
	text-decoration: none;
	color: #008C9E;
	font-size: 20px;
	text-shadow: 1px 1px 0px rgb(0, 95, 107), 3px 3px 0px rgba(0, 0, 0, 0.15);
}

#tail nav a#current {
	font-weight: bold;
}

#tail ul {
	float: left;
	list-style-type: none;
}

#tail ul li.social-event .head,
#tail ul li.seminar .head,
#tail ul li.major-project .head,
#tail ul li.new-element .head, 
#tail form.new-form .form-head input {
	border: 2px solid rgb(0, 140, 158);
	color: rgb(0, 180, 204);
	float: left;
	font-weight: bold;
	margin-bottom: 16px;
	padding: 7px 4px 5px 10px;
	width: 199px;
}

#tail ul li.social-event span.asterisk,
#tail ul li.seminar span.asterisk,
#tail ul li.major-project span.asterisk,
#tail ul li.new-element span.asterisk {
	font-size: 28px;
	float:right;
	line-height: 6px;
	padding-top: 10px;
}

#tail ul li.social-event span.asterisk.pending,
#tail ul li.seminar span.asterisk.pending,
#tail ul li.major-project span.asterisk.pending {
	color: #CC5900;
	cursor: pointer;
}

#tail ul li.new-element {
	border-style: dashed;
	cursor: pointer;
}

#tail ul li.social-event:nth-child(odd),
#tail ul li.seminar:nth-child(odd),
#tail ul li.major-project:nth-child(odd),
#tail form.new-form.open:nth-child(odd) {
	margin-right: 16px;
}

#tail ul#major-projects li { width: 431px; }

#tail ul#major-projects li:hover div.edit { display: inline-block; }

#tail ul#major-projects li div {
	display: inline-block;
}

#tail ul#major-projects li div.description {
	display: none;
}

#tail ul#major-projects li div.edit {
	background-color: rgb(44, 47, 47);
	color: #EEE;
	display: none;
	float: right;
	font-weight: bold;
	padding: 2px 5px 0;
	border-radius: 3px;
}

#tail form.new-form {
	display: none;
	margin-bottom: 16px;
	float: left;
}

#tail form.new-form .form-head input {
	background-color: rgba(255,255,255,0.1);
	font-size: 16px;
	padding: 4px 10px 2px;
	margin: 0;
}

#tail form.new-form .form-body {
	border: 1px solid rgb(0, 140, 158);
	border-top: none;
	display: none;
	padding: 0 10px 10px;
	width: 195px;
}

#tail form.new-form .form-body textarea {
	background-color: rgba(255,255,255,0.1);
	border: none;
	color: rgb(0, 180, 204);
	outline: none;
	resize: vertical;
	padding: 5px;
	margin-left: -9px;
	margin-top: 0;
	min-height: 90px;
	max-height: 180px;
	width: 204px;
}

// #tail form.new-form .form-body label {
// 	color: rgb(0, 180, 204);
// 	display: inline-block;
// 	float: left;
// 	margin-top: 3px;
// 	margin-right: 10px;
// }

#tail form.new-form .form-body .datetime { margin-top: 10px; }
#tail form.new-form .form-body .select { position: relative; float: left; width: 30px; }

#tail form.new-form .form-body .select.month { width: 101px; }
#tail form.new-form .form-body .select.day { margin-left: 15px; }
#tail form.new-form .form-body .select.hour { margin-left: 8px; }
#tail form.new-form .form-body .select.minute { margin-left: 3px; }
#tail form.new-form .form-body .select.period { margin-left: 15px; }
#tail form.new-form .form-body .select span, 
#tail form.new-form .form-body .select ol {
	border: 2px solid rgb(0, 140, 158);
	color: rgb(0, 180, 204);
	float: left;
	text-align: center;
	width: inherit;
}

#tail form.new-form .form-body .select span { z-index: 1; }

#tail form.new-form .form-body .select.month span,
#tail form.new-form .form-body .select.month li { padding: 1px 0 3px; }

#tail form.new-form .form-body .select span,
#tail form.new-form .form-body .select li { padding: 2px 0; }

#tail form.new-form .form-body .select li:hover {
	background-color: rgba(255,255,255,0.1);
}

#tail form.new-form .form-body .select:hover ol {
	display: inline-block;
}
#tail form.new-form .form-body .select ol {
	background: url(/img/bg.png) #343838;
	cursor: pointer;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
}

#tail form.new-form span.at-symbol,
#tail form.new-form span.colon {
	color: rgb(0, 180, 204);
	font-size: 25px;
	line-height: 20px;
	float: left;
}

#tail form.new-form span.at-symbol {
	margin-left: 45px;
}
#tail form.new-form span.colon {
	margin-left: 7px;
}

#tail form.new-form .form-body input[type="submit"],
#tail form.new-form .form-body input[type="button"] {
	background-color: transparent;
	border: 2px solid rgb(0, 140, 158);
	color: rgb(0, 180, 204);
	cursor: pointer;
	float: right;
	font-size: 16px;
	line-height: 20px;
	margin-top: 8px;
	outline: none;
}

#tail form.new-form .form-body input[type="submit"]:hover,
#tail form.new-form .form-body input[type="button"]:hover {
	background-color: rgba(255,255,255,0.1);
}

#tail form.new-form .form-body input[type="button"] {
	float: left;
}
