body {
	padding-top: 70px;
	padding-bottom: 20px;
}

.center {
	text-align: center;
}

.border {
	border-radius: 5px;
	border: 1px solid #DDDDDD;
}

.user-info h3, .user-info h4 {
	margin-top: 6px;
}

.info-table tr td:nth-child(1) {
	font-weight: bold;
}

/* Extra small devices (phones, up to 480px) */
.user-avatar {
	width: 70px;
	float: left;
}

.user-info {
	width: 75%;
	float: left;
}

.user-status {
	width: 100%;
	float: left;
	padding-top: 10px;
	padding-right: 6px;
	text-align: left;
}

.big-only {
	display: inline;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.user-avatar {
		width: 75px;
	}

	.user-info {
		width: 65%;
	}

	.user-status {
		width: 23%;
		text-align: right;
	}

	.big-only {
		padding-top: 10px;
		display: block;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.user-avatar {
		width: 70px;
	}

	.user-info {
		width: 54%;
	}

	.user-status {
		width: 30%;
	}
}

/* Large devices (large desktops, 1200px and up) */ 
@media (min-width: 1200px) { 

	.user-avatar {
		width: 70px;
	}

	.user-info {
		width: 65%;
	}

	.user-status {
		width: 23%;
	}

}
