<div class="row panel">
  <h3>Major Project Form</h3>
    <form>
      <input type="text" placeholder="Title">
      <textarea placeholder="Description"></textarea>
    </form>
    <a href="#" class="button radius">Submit</a>
</div>
