<div class="row panel">
  <h3>Major Project Form</h3>
    <form>
      <input type="text" placeholder="Title">
      <textarea placeholder="Description"></textarea>
    </form>
    <a class="button radius small float right"><input type="button">Submit</input></a>
</div>
